@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --fontcolor: #43b9dc;
    --backgroundcolor: #34d3b4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem 7%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

header #logo {
    font-size: 3rem;
    color: black;
}

header #logo span {
    color: var(--fontcolor);
}

header .navbar a {
    font-size: 1.5rem;
    color: var(--fontcolor);
    margin-left: 1rem;
}

.icons i {
    font-size: 2rem;
    color: var(--fontcolor);
    margin-left: 1rem;
}

header #menu_bars {
    font-size: 2rem;
    color: var(--fontcolor);
    display: none;
}


header .navbar.active{
    left: 0;
    transition: .5s;
}

.main-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 75px;
    height: 100vh;
}


.container {
    background: url(../images/headerimage.png);
    width: 100%;
    padding-top: 7.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container .main-text{
    width: 50%;
    position: absolute;
    top: 200px;
    padding: 0 2rem;
    text-align: center;
}








































/*Responsive*/
@media (max-width: 768px){
    html {
        font-size: 50%;
    }

    header #menu_bars{
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 100%;
        right: 0;
        background: var(--backgroundcolor);
        height: 100vh;
        text-align: center;
    }

    header .navbar a {
        display: block;
        background: white;
        margin-top: 1rem;
        padding: 2rem;
        width: 90%;
        border-radius: 10px;
    }


    


}