@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --fontcolor: #43b9dc;
    --backgroundcolor: #34d3b4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem 7%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    font-size: 3rem;
    color: black;
}

header #logo span {
    color: var(--fontcolor);
}

header .navbar a {
    font-size: 1.5rem;
    color: var(--fontcolor);
    margin-left: 1rem;
}

.icons i {
    font-size: 2rem;
    color: var(--fontcolor);
    margin-left: 1rem;
}

header #menu_bars {
    font-size: 2rem;
    color: var(--fontcolor);
    display: none;
}







/*Responsive*/
@media (max-width: 768px){
    html {
        font-size: 50%;
    }

    header #menu_bars{
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--backgroundcolor);
    }

    header .navbar a {
        display: block;
        background: white;
        margin-top: 1rem;
        padding: 2rem;
        border-radius: 10px;
    }




}